html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

#main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.columns {
    display: flex;
    flex-direction: column;
   

}